.navbar-fixed-top {
    min-height: 120px;
}

.navbar-fixed-top .navbar-collapse {
    max-height: 120px;
}

@media (min-width: 768px) {
    .navbar-fixed-top .navbar-collapse {
        max-height: 120px;
}
